@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: #fff;
    background: #070707;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.wrapper {
    background: linear-gradient(90deg,rgba(0, 0, 0, 1) 0%, rgba(74, 40, 0, 1) 100%);
    width: 100%;
    overflow-x: hidden;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

header {
    padding: 50px 0;
}

header .logo, 
footer .blocks .logo {
    text-transform: uppercase;
    font-size: 29px;
    font-weight: 800;
}

header nav {
    float: right;
    width: 50%;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    z-index: 2;
    position: relative;
}

header nav ul li {
    display: inline-block;
}

header nav ul li a {
    color: #fff;
}

header nav ul li.active::after {
    content: '';
    display: block;
    width: 40px;
    height: 5px;
    background: #DC7000;
    border-radius: 10px;
    position: relative;
    top: 10px;
    left: -15px;
}

header nav ul li:not(.active):not(.btn) a:hover {
    border-bottom: 5px solid #DC7000;
}

header nav ul li.btn a, .email .block button {
    background: #FA9021;
    padding: 10px 28px;
    border-radius: 6px;
    transition: all 0.4s ease;
}

header nav ul li.btn a:hover, .email .block button:hover {
    background: #b86003;
}

.hero {
    padding-bottom: 100px;
    position: relative;
    z-index: 1;
    position: relative;
}

.hero-info {
    width: 530px;
    padding-top: 70px;
}

.hero-info h2 {
    color: #E87D0E;
    font-size: 20px;
    font-weight: 600;
}

.hero-info h1 {
    color: #fff;
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 26px;
}

.hero-info p {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    margin: 50px 0;
    line-height: 170%;
}

.hero-info .btn, .hero-about .info .btn {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    padding: 15px 30px;
    background: linear-gradient(90deg,rgba(250, 131, 5, 1) 0%, rgba(251, 158, 60, 1) 100%);
    width: 195px;
    height: 53px;
    border-radius: 40px;
    border: 0;
    transition: all 0.4s ease;
}

.hero-info .btn:hover, .hero-about .info .btn:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.hero img {
    position: absolute;
    top: -150px;
    right: 0;
    left: 580px;
}

/* GAMES */

.trending {
    padding-top: 50px;
    padding-left: 110px;
    padding-right: 110px;
}

.trending h3 {
    font-weight: 600;
    font-size: 31px;
}

.trending .see-all, .projects .see-all {
    color: #fff;
    font-weight: 500;
    font-size: 20px;
    padding: 10px 30px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
    float: right;
    display: block;
    transition: all 0.4s ease;
}

.trending .see-all:hover, .projects .see-all:hover {
    transform: scale(1.1);
}

.trending .games {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 50px 0;
}

.trending .games span {
    display: block;
    text-align: center;
    margin-top: 20px;
}

.trending .games span img {
    position: relative;
    top: 5px;
    margin-right: 7px;
}

.big-text {
    padding: 50px 0;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    width: 800px;
}

.banner {
    padding: 80px 0;
}

.banner h3 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 30px;
}

.banner p {
    font-size: 16px;
    font-weight: 400;
    width: 545px;
    margin-bottom: 46px;
}

.banner img {
    width: 100%;
    margin-bottom: 100px;
}

/* FEATURES */

.features {
    background: url(/img/bg.png) no-repeat center center fixed;
    background-size: cover;
    padding: 80px 0;
}

.features h3,
.features p {
    margin-bottom: 30px;
    text-align: center;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.features h3 {
    font-size: 30px;
}

.features .info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.features .info .block {
    text-align: center;
    width: 20%;
    margin: 30px 2%;
}

.features .info .block img {
    margin-bottom: 15px;
}

/* PROJECTS */

.projects {
    padding: 100px 0;
}

.projects h3 {
    font-size: 30px;
    text-align: center;
}

.projects p {
    margin: 40px 0;
    text-align: center;
}

.projects .images {
    display: flex;
    justify-content: space-around;
    margin-bottom: 25px;
}

.projects .see-all {
    float: none;
    width: 80px;
    text-align: center;
    margin: 0 auto;
}

/* EMAIL */

.email {
    padding-bottom: 120px;
}

.email h3 {
    margin-top: 60px;
    font-size: 30px;
}

.email .block {
    background-color: #1C140F;
    width: 94%;
    border-radius: 15px;
    margin-top: 30px;
    padding: 40px 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.email .block h4 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 10px;
}

.email .block p {
    width: 500px;
}

.email .block input {
    background: #fff;
    outline: none;
    border: 0;
    border-radius: 5px;
    width: 385px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    padding: 20px 30px;
    position: relative;
    right: -100px;
    z-index: 1;
    padding-right: -120px;
}

.email .block input::placeholder {
    color: #898989;
}

.email .block button {
    cursor: pointer;
    border: none;
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    padding: 13px 17px;
    position: relative;
    z-index: 2;
}

/* ABOUT */

.hero-about {
    position: relative;
}

.hero-about .info {
    width: 500px;
    padding: 250px 0;
}

.hero-about .info h1 {
    margin-bottom: 15px;
    font-size: 30px;
}

.hero-about .info .btn {
    margin-top: 20px;
}

.hero-about img {
    position: absolute;
    right: -150px;
    top: 0;
}

.work {
    padding: 80px 0;
}

.work h2 {
    font-size: 25px;
    margin-bottom: 60px;
}

.work .blocks {
    display: flex;
    justify-content: space-between;
}

.work .blocks .block {
    width: 25%;
    border-radius: 10px;
    padding: 50px 35px;
    background: #1C140F;
}

.work .blocks .block h3 {
    font-size: 20px;
    margin: 20px 0;
}

.work .blocks .block .badge {
    border-radius: 7px;
    padding: 10px 20px;
}

.work .blocks .block .badge.purple {
    background: rgba(176, 0, 220, 0.11);
}

.work .blocks .block .badge.brown {
    background: rgba(220, 66, 0, 0.11);
}

.work .blocks .block .badge.green {
    background: rgba(0, 220, 141, 0.11);
}

/* CONTACTS */

.hero-contacts h1 {
    text-align: center;
    margin-top: 70px;
    margin-bottom: 30px;
    font-size: 33px;
}

.hero-contacts p {
    font-size: 16px;
    text-align: center;
}

.hero-contacts img {
    width: 70%;
    margin: 80px 15%;
}

.feedback {
    padding: 70px 0;
    background: url(/img/feedback.png);
    background-repeat: no-repeat;
}

.feedback h2 {
    text-align: center;
    font-weight: 500;
    font-size: 30px;
}

.feedback p {
    text-align: center;
    margin-top: 10px;
    font-size: 13px;
}

.feedback form {
    margin: 80px auto;
    width: 671px;
}

.feedback form .inline {
    display: flex;
    justify-content: space-between;
}

.feedback form .inline > div {
    width: 50%;
}

.feedback form label {
    color: #4F4F4F;
    font-size: 14px;
}

.feedback form input, 
.feedback form textarea {
    background: #2C2420;
    border-radius: 10px;
    border: 0.6px solid #CECECE;
    display: block;
    width: 90%;
    padding: 15px 10px;
    outline: none;
    color: #fff;
    margin-top: 7px;
    margin-bottom: 20px;
}

.feedback form .one-line {
    width: 96%;
}

.feedback form textarea {
    resize: none;
    height: 200px;
}

.feedback form button {
    background:#DC7000;
    color: #fff;
    border-radius: 5px;
    border: 0;
    float: right;
    cursor: pointer;
    padding: 15px 35px;
    transition: all 500ms ease;
}

.feedback form button:hover {
    background: #b86003;
}


/* FOOTER */

footer {
    background: #070707;
    padding: 50px 0;
}

footer .blocks {
    display: flex;
    justify-content: space-between;
}

footer .blocks p {
    width: 370px;
    margin: 15px 0;
}

footer .blocks h4 {
    font-weight: 500;
    font-size: 17px;
}

footer .blocks ul {
    list-style: none;
}

footer .blocks ul li {
    margin-top: 7px;
    opacity: 0.8;
}

footer hr {
    margin: 50px 0;
    border: 0;
    height: 0.6px;
    background: #ccc;
}

footer>p {
    text-align: center;
}


